@use "../settings" as setting;
@use "sass:map";

.c-puton {
  position: relative;

  &--filter {
    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;
      content: "";
      background: rgba(map.get(setting.$sys-light, scrim), 0.5);
    }
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(-50%, -50%);
  }
}

.c-hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: clamp(
    clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
    setting.breakpoints(overs),
    clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
  );
  margin-left: clamp(
    clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
    setting.breakpoints(overs),
    clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
  );
  color: map.get(setting.$sys-light, surfaceContainerLowest);
  text-align: center;
  text-shadow: 0 1px 6px rgba(map.get(setting.$sys-light, primary), 0.7);
}
