@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

.c-header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  padding: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m))
    clamp(
      clamp(setting.f-space-px(m), setting.breakpoints(overl), setting.f-space-px(xl)),
      setting.breakpoints(overxl),
      clamp(setting.f-space-px(xl), setting.breakpoints(overl), setting.f-space-px(3xl))
    );
  border-top: solid setting.f-space-px(xs) var(--c-button-normal);
  box-shadow: 0 0 2px var(--c-button-normal);
}

.c-pc-nav,
.c-pc-item,
.c-sp-item,
.c-sp-nav {
  flex-grow: 1;
}

.c-pc-item,
.c-sp-item {
  display: flex;
  flex-shrink: 0;
}

.c-pc-item {
  min-width: min(calc((100vw - 1199px) * 999), 20%);
  margin: calc(-1 * setting.f-space-px(m)) 0;
  border-right: solid 1px var(--c-border-divider);

  &:first-of-type {
    border-left: solid 1px var(--c-border-divider);
  }
}

.c-sp-item {
  margin: 0 calc(-1 * setting.f-space-px(m));

  &:first-of-type {
    border-top: solid 1px var(--c-border-divider);
  }

  border-bottom: solid 1px var(--c-border-divider);
}

.c-sp-nav {
  box-sizing: border-box;
  width: 100%;
}

.c-pc-link,
.c-sp-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentcolor;
  transition: all 0.25s ease;

  &:hover,
  &:focus {
    color: var(--c-text-on-fill);
    background: var(--c-text-hover);

    & .u-text-primary {
      color: color-mix(in oklab, var(--c-button-normal), var(--c-text-on-fill) 40%);
    }
  }
}

.c-menu-bars {
  position: relative;
  width: calc(100% - setting.f-space-px(m));
  height: setting.f-space-px(3xs);
  background: currentcolor;
  border-radius: setting.f-border-radius(s);
  transition: all ease-out 0.3s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: setting.f-space-px(3xs);
    content: "";
    background-color: currentcolor;
    border-radius: setting.f-border-radius(s);
    transition: all ease-out 0.3s;
  }

  &::before {
    top: -11px;
  }

  &::after {
    top: 11px;
  }

  [aria-expanded="true"] & {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.c-sp-menu {
  position: fixed;
  top: 0;
  right: clamp(
    clamp(
      calc(-1 * calc(240px + setting.f-space-px(3xl))),
      setting.breakpoints(underm),
      calc(-1 * calc(240px + setting.f-space-px(xl)))
    ),
    setting.breakpoints(unders),
    clamp(
      calc(-1 * calc(240px + setting.f-space-px(xl))),
      setting.breakpoints(underm),
      calc(-1 * calc(240px + setting.f-space-px(m)))
    )
  );
  z-index: 1000;
  width: 100%;
  max-width: clamp(
    clamp(calc(240px + setting.f-space-px(m)), setting.breakpoints(overm), calc(240px + setting.f-space-px(xl))),
    setting.breakpoints(overs),
    clamp(calc(240px + setting.f-space-px(xl)), setting.breakpoints(overm), calc(240px + setting.f-space-px(3xl)))
  );
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;

  &[aria-hidden="false"] {
    right: 0;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-out;

    & + .c-menu-bg {
      display: block;
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.1s ease-out;
    }

    body:has(&) {
      overflow: hidden;
    }
  }
}

.c-menu-bg {
  position: fixed;
  inset: 0;
  z-index: 998;
  display: none;
  pointer-events: none;
  cursor: pointer;
  visibility: hidden;
  background: rgba(map.get(setting.$sys-light, scrim), 0.5);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
