@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

.c-header {
  display: flex;
  align-items: center;
  padding-top: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
  padding-bottom: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
  position: relative;
}

.c-logo-label {
  &--header {
    font-size: clamp(map.get(setting.$fontRemSize, 2xl), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, 3xl));
  }
  &--footer {
    font-size: clamp(map.get(setting.$fontRemSize, l), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, xl));
  }
}

.c-pc-nav {
  margin-left: auto;

  @include tool.max-screen(setting.$underm) {
    display: none;
  }
}

.c-menu-bars {
  position: relative;
  width: calc(100% - setting.f-space-px(m));
  height: 1px;
  background: var(--c-text-description);
  transition: all ease-out 0.3s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: var(--c-text-description);
    transition: all ease-out 0.3s;
  }

  &::before {
    top: -9px;
  }

  &::after {
    top: 9px;
  }

  .is-open & {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.c-gnav {
  @include tool.max-screen(setting.$underm) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: var(--c-bg-qua);
    padding-right: clamp(
      clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
      setting.breakpoints(overs),
      clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
    );
    padding-left: clamp(
      clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
      setting.breakpoints(overs),
      clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
    );
    padding-bottom: setting.f-space-px(l);
    &--is-open {
      display: block;
    }
    &-item {
      width: 100%;
    }
  }
  @include tool.min-screen(setting.$breakm) {
    margin-left: auto;
  }
  &-link {
    color: currentColor;
    @include tool.max-screen(setting.$underm) {
      display: block;
    }
  }
}
