@use "../settings" as setting;

.u-bg-primary {
  color: var(--c-text-on-fill);
  background-color: var(--c-button-normal);
}

.u-bg-secondary {
  color: var(--c-text-description);
  background: var(--c-bg-secondary);
}

.u-bg-overlay {
  color: var(--c-text-placeholder);
  background-color: var(--c-bg-tertiary);
}

.u-bg-qua {
  background: var(--c-bg-qua);
  color: var(--c-text-body);
}
