@use "../settings" as setting;
@use "../tools" as tool;

.u-block-left,
.u-block-center {
  margin-right: auto;
}

.u-block-center,
.u-block-right {
  margin-left: auto;
}

.u-flex-shrink-none {
  flex-shrink: none;
}

.u-pc-only {
  @include tool.max-screen(setting.$underm) {
    display: none;
  }
}

.u-pc-none {
  @include tool.min-screen(setting.$breakm) {
    display: none;
  }
}

.u-full-width {
  width: 100%;
}
