@use "../settings" as setting;

@mixin txtSize() {
  @each $key, $name in setting.$fontRemSize {
    @if $key == s or $key == m or $key == l {
      .u-text-size-#{$key} {
        font-size: $name;
      }
    }
  }
}

@mixin txtWeight() {
  @each $key, $name in setting.$fontWeight {
    @if $key == m or $key == b {
      .u-text-weight-#{$key} {
        font-weight: $name;
      }
    }
  }
}

@mixin lineHeight() {
  @each $key, $name in setting.$lineHeight {
    @if $key != reset {
      .u-line-height-#{$key} {
        line-height: $name;
      }
    }
  }
}

@include txtSize;
@include txtWeight;
@include lineHeight;

.u-font-en {
  font-family: setting.$font-family-en;
}

.u-font-en-con {
  font-family: setting.$font-family-en-condensed;
}

.u-font-logo {
  font-family: setting.$font-family-logo;
}

.u-text-primary {
  color: var(--c-button-normal);
}

.u-text-secondary {
  color: var(--c-text-description);
}

.u-text-brand {
  color: var(--c-brand-middle);
}

.u-text-accent {
  color: var(--c-status-alert);
}

.u-text-alert {
  color: var(--c-warning);
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.u-text-underline {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  text-decoration-color: rgba(var(--c-warning) 0.4);
  text-underline-offset: -0.2em;
  text-decoration-skip-ink: none;
}

.u-text-trim {
  display: -webkit-box;

  --trim: 1;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--trim);
  overflow: hidden;

  &--two-line {
    --trim: 2;
  }

  &--three-line {
    --trim: 3;
  }
}
