@use "../settings" as setting;
@use "sass:map";

.o-icon-parent {
  display: inline-flex;
  gap: setting.f-space-em(s);
  align-items: baseline;

  &--gap-s {
    gap: setting.f-space-px(s);
  }

  &--center {
    align-items: center;
  }

  &--text-center {
    justify-content: center;
  }

  &--form-item {
    cursor: pointer;
  }

  &--toc {
    position: relative;
    padding: setting.f-space-px(s) setting.f-space-px(m);
    color: var(--c-text-description);
    cursor: pointer;
    background: var(--c-bg-secondary);

    .o-box[open] & {
      border-bottom: solid 1px var(--c-border-field);
    }

    .o-icon:last-of-type {
      position: absolute;
      top: 50%;
      right: 1em;
      transition: transform 0.1s ease-out;
      transform: translateY(-50%);

      .o-box[open] & {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}

.o-icon {
  font-size: setting.f-font-emsize(2xs);
  line-height: setting.f-lineheight(none);

  &--required {
    padding: setting.f-space-px(xs) setting.f-space-px(s);
    border-radius: setting.f-border-radius(s);
  }
}
