@use "../settings" as setting;
@use "sass:map";

.o-icon-parent {
  display: inline-flex;
  gap: setting.f-space-em(s);
  align-items: baseline;

  &--center {
    align-items: center;
  }

  &--header-logo,
  &--footer-logo {
    gap: setting.f-space-px(s);
    color: currentColor;
    transition: all 0.25s ease;

    &:hover,
    &:focus {
      color: var(--c-text-hover);
    }
  }

  &--text-center {
    justify-content: center;
  }

  &--form-item {
    cursor: pointer;
  }

  &--toc {
    position: relative;
    padding: setting.f-space-px(s) setting.f-space-px(m);
    color: var(--c-text-description);
    cursor: pointer;
    background: var(--c-bg-secondary);

    .o-box[open] & {
      border-bottom: solid 1px var(--c-border-field);
    }

    .o-icon:last-of-type {
      position: absolute;
      top: 50%;
      right: 1em;
      transition: transform 0.1s ease-out;
      transform: translateY(-50%);

      .o-box[open] & {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}

.o-icon {
  font-size: setting.f-font-emsize(2xs);
  line-height: setting.f-lineheight(none);

  .o-icon-parent--header-logo & {
    font-size: clamp(map.get(setting.$fontRemSize, 3xl), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, 4xl));
  }
  .o-icon-parent--footer-logo & {
    font-size: clamp(map.get(setting.$fontRemSize, xl), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, 2xl));
  }

  &--required {
    padding: setting.f-space-px(xs) setting.f-space-px(s);
    border-radius: setting.f-border-radius(s);
  }
}
